@tailwind base;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'AnakinMono';
  src: url('../fonts/anakinmono.ttf');
}

@font-face {
  font-family: 'EpisodeOne';
  src: url('../fonts/episode_one.TTF');
}

@font-face {
  font-family: 'Distorted';
  src: url('../fonts/blowndroid.ttf');
}

@font-face {
  font-family: 'Classic';
  src: url('../fonts/classic.ttf');
}





